html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 245px 1fr;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 250ms ease-out;
}

.top-bar {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-bottom: 1px solid #e0e6e8;
  background-color: white;
  position: relative;
}

.profile-image + .dropdown-menu {
  position: absolute;
  bottom: -80px;
  right: 25px;
}

.close-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848f99;
  border-right: 1px solid #edf1f2;
}

.close-sidebar:hover {
  background-color: #edf1f2;
}

.main-view {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 66px 15px 1fr;
  grid-template-columns: 20px 17fr 15px 13fr 20px;
}
