html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  /*background-color: #edf1f2;*/
}

.app {
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 245px 1fr;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-bar {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
}

.main-view {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 66px 15px 1fr;
  grid-template-columns: 20px 19fr 15px 13fr 20px;
}
