.page-header {
  grid-area: 1 / 1 / 2 / -1;
  background-color: #C8E6C9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: white;
  color: black;
}

.task-list-view {
  grid-area: 3 / 2 / 4 / 3;
  background-color: white;
  transition: 1s;
}

.task-list-view:last-of-type {
  grid-area: 3 / 2 / 4 / 5;
  /*background-color: #00b0ff;*/
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.task-list-view ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-list-view ul input[type="checkbox"] {
  list-style: none;
  margin: 0 15px;
  padding: 0;
}

.task-list-header {
  height: 50px;
  background: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.task-list-header button {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  padding: 0.4em 0.5em;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #0DA8F2;
  color: #0DA8F2;
  transition: 0.2s;
}

.task-list-header button:hover {
  box-shadow: 0 0 0 3px #0DA8F2;

}

.task-list-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: white;
  height: 34px;
  border-bottom: 1px solid lightgray;
  /*grid-column-start: 2;
  grid-column-end: 3;*/
}

.task-list-item:focus-within {
  border-top: 1px solid #14aaf5;
  border-bottom: 1px solid #14aaf5;
}

.task-list-item textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 16px;
  border: 0;
  resize: none;
  font-size: 13px;
}

.task-list-item textarea:focus {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.details-view {
  grid-area: 3 / 4 / 4 / 5;
  background-color: white;
}

.details-view input[type="checkbox"] {
  display: inline;
  margin: 0 20px;
}

.details-name textarea {
  display: inline;
  font-size: 24px;
  // border: 1px solid black;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  resize: none;
  height: auto;
  outline: none;
  width: 100%;
}

.details-name {
  display: flex;
  align-items: center;
}

.details-description {
  margin: 20px 40px 0 60px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-radius: 4px;
  width: calc(100% - 80px);
  font-size: 13px;
}

.details-description:hover {
  border: 1px solid lightgray;
}

.details-description:focus {
  border: 1px solid gray;
}

.details-header {
  height: 50px;
  background: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.subtask-list {
  margin: 0;
  padding: 0;
}

.subtask-list > li {
  margin: 0;
  padding: 0 20px 0 0;
}

.subtask-list > li a {
  color: #e0e6e8;
}

.subtask-list > li a:hover {
  color: #32c1ff;
}
