.toggle-done {
  height: 2em;
  width: 2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #B8C0C5;
  color: #B8C0C5;
  border-radius: 50%;
  transition: 300ms;
}

.toggle-done:hover {
  color: #51F7DA;
  border-color: #51F7DA;
  box-shadow: 0 0 0px 3px #51F7DA;
}

.toggle-not-done {
  height: 2em;
  width: 2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #25E8D2;
  background-color: #25E8D2;
  color: white;
  border-radius: 50%;
  transition: 300ms;
}

.toggle-not-done:hover {
  border-color: #84F5E4;
  background-color: #84F5E4;
}

.profile-image {
  width: 24px;
  height: 24px;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.member-pics > li:last-of-type > .profile-image {
  background-color: #222b37;
  border-color: #9ca6af;
  color: #9ca6af;
}

.profile-image img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.member-pics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 12px;
  margin: 5px 0;
  list-style: none;
}

.member-pics > li {
  margin: 0 1px;
  padding: 0;
}
